<div class="container">
  <div class="row col-md-7">

    <h2 class="section-header">Week <%= @current_week %> Spreads</h2>

    <div class="well">
      <div class="spreads-table">
        <table class="table">
          <tr class="header-row">
            <th>(+)</th>
            <th>AWAY</th>
            <th>HOME</th>
            <th>(+)</th>
          </tr>
          <% @games.each do |game| %>
            <tr class="data-row">
              <% if game.spread < 0 %>
                <td class="spread away"><span><%= game.spread.abs %></span></td>
                <td class="team-abbr away"><span><%= game.away_team.abbr %></span></td>
                <td class="team-abbr home"><span><%= game.home_team.abbr %></span></td>
                <td><span>-</span></td>
              <% elsif game.spread > 0%>
                <td><span>-</span></td>
                <td class="team-abbr away"><span><%= game.away_team.abbr %></span></td>
                <td class="team-abbr home"><span><%= game.home_team.abbr %></span></td>
                <td class="spread home"><span><%= game.spread %></span></td>
              <% elsif game.spread > 0%>
                <td><span>-</span></td>
                <td class="team-abbr away"><span><%= game.away_team.abbr %></span></td>
                <td class="team-abbr home"><span><%= game.home_team.abbr %></span></td>
                <td><span>-</span></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="row col-md-4 col-md-offset-1" >

    <h2 class="section-header">Standings</h2>

    <div class="well">
      <div class="spreads-table">
        <table class="table">
          <tr class="header-row">
            <th>Name</th>
            <th>(W/L)</th>
            <th class="yellow">(W/L)</th>
            <th>Total</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
