<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Gorman", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-user-status">
      <% if user_signed_in? %>
        <p class="welcome-message">
          Welcome Back, <b><%= current_user.first_name %></b>.
        </p>
        <div class="session-links">
          <%= link_to 'Account', edit_user_registration_path %>
          <a href="#">|</a>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
        <div class="session-links">
          <%= link_to "Sign up", new_user_registration_path %>
          <a href="#">|</a>
          <%= link_to "Login", new_user_session_path %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
